@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes dot {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}
@font-face {
  font-family: "gabriela";
  src: url(../fonts/Gabriela-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "great-vibes";
  src: url(../fonts/GreatVibes-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "meriendaone";
  src: url(../fonts/MeriendaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "dancing";
  src: url(../fonts/DancingScript-VariableFont.ttf) format("truetype");
}
@font-face {
  font-family: "applestorm";
  src: url(../fonts/applestormrg.otf) format("opentype");
}
header {
  width: 100%;
}
header a {
  text-decoration: none;
}
header h1 {
  color: #fdcb46;
  background: #579c87;
  text-align: center;
  height: 10rem;
  line-height: 10rem;
  font-size: 6rem;
  margin-top: 0;
  letter-spacing: -2px;
}
@media all and (max-width: 599px) {
  header h1 {
    font-size: 4rem;
    height: 6rem;
    line-height: 6rem;
  }
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5% 15% 5% 15%;
  margin: auto;
}
@media all and (max-width: 1024px) {
  main {
    padding: 3%;
  }
}
@media all and (max-width: 800px) {
  main {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media all and (min-width: 1800px) {
  main {
    padding: 2%;
  }
}
main .bloc {
  height: 450px;
  width: 350px;
  margin: 2%;
  box-shadow: 5px 5px 5px 5px gray;
}
main .bloc--noteenchantée {
  background-color: #fcdfdb;
}
main .bloc--chicfrançaise {
  background-color: #fff5fe;
}
main .bloc--délicepapilles {
  background-color: #f9f9f9;
}
main .bloc--palettegout {
  background-color: #fdfffd;
}
main .bloc--noteenchantée {
  font-family: applestorm;
}
main .bloc--chicfrançaise {
  font-family: gabriela;
}
main .bloc--délicepapilles {
  font-family: dancing;
}
main .bloc--palettegout {
  font-family: meriendaone;
}
main .bloc--chicfrançaise h3 {
  position: relative;
  text-align: center;
  color: #3d1319;
  background: linear-gradient(90deg, #e38a12, #915dfe);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .bloc--délicepapilles h3 {
  position: relative;
  text-align: center;
  color: #3d1319;
  background: linear-gradient(90deg, #314de1, #349cfb);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .bloc--palettegout h3 {
  position: relative;
  text-align: center;
  color: #3d1319;
  background: linear-gradient(90deg, #3e923a, #bfff80);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .bloc--noteenchantée h2 {
  color: #3d1319;
}
main .bloc--chicfrançaise h2 {
  color: #e38a12;
}
main .bloc--délicepapilles h2 {
  color: #229df9;
}
main .bloc--palettegout h2 {
  color: #3e923a;
}
@media all and (max-width: 800px) {
  main .bloc {
    height: 250px;
    width: auto;
    padding: 5%;
  }
}
main .bloc a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
main .bloc a .lien {
  transform: scale(1);
  opacity: 1;
  transition: all 500ms ease-in-out;
}
main .bloc a .lien:hover {
  transform: scale(1.15);
  opacity: 0.6;
}
main .bloc a i {
  position: relative;
  font-size: 4rem;
  color: #3d1319;
  background: linear-gradient(to right, #f05461, #f6916a);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
main .bloc a h2 {
  margin-top: 0;
  font-size: 2.5rem;
}
main .bloc--noteenchantée h3 {
  color: #3d1319;
}
main .bloc h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

footer {
  display: flex;
  background: #579c87;
  color: #fdcb46;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 0 2% 0 2%;
}
footer a {
  color: #fdcb46;
  text-decoration: none;
}
footer a:hover {
  animation: wiggle 0.5s infinite;
}
@media all and (max-width: 599px) {
  footer a {
    height: 3rem;
    line-height: 3rem;
  }
}
@media all and (max-width: 599px) {
  footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
}

aside {
  display: flex;
  justify-content: center;
}
aside mark {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  color: #fdcb46;
  background-color: #579c87;
  padding: 20px;
  margin: 10px;
  font-size: 2rem;
  text-align: center;
}

.dot {
  animation: dot 500ms ease-in infinite alternate;
}
.dot--1 {
  animation-delay: 100ms;
}
.dot--2 {
  animation-delay: 200ms;
}

/*# sourceMappingURL=style.css.map */
