@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes dot {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}
@font-face {
  font-family: "gabriela";
  src: url(../fonts/Gabriela-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "great-vibes";
  src: url(../fonts/GreatVibes-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "meriendaone";
  src: url(../fonts/MeriendaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "dancing";
  src: url(../fonts/DancingScript-VariableFont.ttf) format("truetype");
}
@font-face {
  font-family: "applestorm";
  src: url(../fonts/applestormrg.otf) format("opentype");
}
header {
  width: 100%;
}
header a {
  text-decoration: none;
}
header h1 {
  color: #fdcb46;
  background: #579c87;
  text-align: center;
  height: 10rem;
  line-height: 10rem;
  font-size: 6rem;
  margin-top: 0;
  letter-spacing: -2px;
}
@media all and (max-width: 599px) {
  header h1 {
    font-size: 4rem;
    height: 6rem;
    line-height: 6rem;
  }
}

footer {
  display: flex;
  background: #579c87;
  color: #fdcb46;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 0 2% 0 2%;
}
footer a {
  color: #fdcb46;
  text-decoration: none;
}
footer a:hover {
  animation: wiggle 0.5s infinite;
}
@media all and (max-width: 599px) {
  footer a {
    height: 3rem;
    line-height: 3rem;
  }
}
@media all and (max-width: 599px) {
  footer {
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.menu {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  padding: 5%;
  box-shadow: 5px 5px 10px grey;
}
.menu--noteenchantée .entrée h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--noteenchantée .entrée h4 {
    font-size: 1rem;
  }
}
.menu--noteenchantée .entrée h4 span {
  position: relative;
}
.menu--noteenchantée .entrée h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #3d1319;
}
.menu--noteenchantée .entrée h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--noteenchantée .plat h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--noteenchantée .plat h4 {
    font-size: 1rem;
  }
}
.menu--noteenchantée .plat h4 span {
  position: relative;
}
.menu--noteenchantée .plat h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #3d1319;
}
.menu--noteenchantée .plat h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--noteenchantée .dessert h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--noteenchantée .dessert h4 {
    font-size: 1rem;
  }
}
.menu--noteenchantée .dessert h4 span {
  position: relative;
}
.menu--noteenchantée .dessert h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #3d1319;
}
.menu--noteenchantée .dessert h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--chicfrançaise .entrée h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--chicfrançaise .entrée h4 {
    font-size: 1rem;
  }
}
.menu--chicfrançaise .entrée h4 span {
  position: relative;
}
.menu--chicfrançaise .entrée h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #c67412;
}
.menu--chicfrançaise .entrée h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--chicfrançaise .plat h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--chicfrançaise .plat h4 {
    font-size: 1rem;
  }
}
.menu--chicfrançaise .plat h4 span {
  position: relative;
}
.menu--chicfrançaise .plat h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #a56799;
}
.menu--chicfrançaise .plat h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--chicfrançaise .dessert h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--chicfrançaise .dessert h4 {
    font-size: 1rem;
  }
}
.menu--chicfrançaise .dessert h4 span {
  position: relative;
}
.menu--chicfrançaise .dessert h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #6e4ccc;
}
.menu--chicfrançaise .dessert h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--délicepapilles .entrée h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--délicepapilles .entrée h4 {
    font-size: 1rem;
  }
}
.menu--délicepapilles .entrée h4 span {
  position: relative;
}
.menu--délicepapilles .entrée h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #0228dd;
}
.menu--délicepapilles .entrée h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--délicepapilles .plat h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--délicepapilles .plat h4 {
    font-size: 1rem;
  }
}
.menu--délicepapilles .plat h4 span {
  position: relative;
}
.menu--délicepapilles .plat h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #0670f3;
}
.menu--délicepapilles .plat h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--délicepapilles .dessert h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--délicepapilles .dessert h4 {
    font-size: 1rem;
  }
}
.menu--délicepapilles .dessert h4 span {
  position: relative;
}
.menu--délicepapilles .dessert h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #229df9;
}
.menu--délicepapilles .dessert h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--palettegout .entrée h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--palettegout .entrée h4 {
    font-size: 1rem;
  }
}
.menu--palettegout .entrée h4 span {
  position: relative;
}
.menu--palettegout .entrée h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #3e923a;
}
.menu--palettegout .entrée h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--palettegout .plat h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--palettegout .plat h4 {
    font-size: 1rem;
  }
}
.menu--palettegout .plat h4 span {
  position: relative;
}
.menu--palettegout .plat h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #3e923a;
}
.menu--palettegout .plat h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu--palettegout .dessert h4 {
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}
@media all and (max-width: 800px) {
  .menu--palettegout .dessert h4 {
    font-size: 1rem;
  }
}
.menu--palettegout .dessert h4 span {
  position: relative;
}
.menu--palettegout .dessert h4 span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  background: #3e923a;
}
.menu--palettegout .dessert h4 span:hover:before {
  visibility: visible;
  width: 100%;
}
.menu i {
  width: fit-content;
  color: #3d1319;
  background: linear-gradient(to right, #f05461, #f6916a);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}
@media all and (max-width: 599px) {
  .menu .titre {
    flex-direction: column-reverse;
  }
}
.menu .titre .separateur-left {
  width: 30%;
}
@media all and (max-width: 599px) {
  .menu .titre .separateur-left {
    width: 50%;
  }
}
.menu .titre .separateur-right {
  width: 30%;
}
@media all and (max-width: 599px) {
  .menu .titre .separateur-right {
    width: 75%;
  }
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menu ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menu h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4rem;
}
@media all and (max-width: 1024px) {
  .menu h3 {
    font-size: 3rem;
  }
}
@media all and (max-width: 800px) {
  .menu h3 {
    font-size: 2rem;
  }
}
.menu--noteenchantée {
  background-color: #fcdfdb;
}
.menu--chicfrançaise {
  background-color: #fff5fe;
}
.menu--délicepapilles {
  background-color: #f9f9f9;
}
.menu--palettegout {
  background-color: #fdfffd;
}
.menu--chicfrançaise h3 {
  position: relative;
  text-align: center;
  color: #e38a12;
  background: linear-gradient(90deg, #e38a12, #915dfe);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu--délicepapilles h3 {
  position: relative;
  text-align: center;
  color: #314de1;
  background: linear-gradient(90deg, #314de1, #349cfb);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu--palettegout h3 {
  position: relative;
  text-align: center;
  color: #3e923a;
  background: linear-gradient(90deg, #3e923a, #bfff80);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu--noteenchantée {
  font-family: applestorm;
}
.menu--chicfrançaise {
  font-family: gabriela;
}
.menu--délicepapilles {
  font-family: dancing;
}
.menu--palettegout {
  font-family: meriendaone;
}
.menu--noteenchantée {
  color: #3d1319;
  fill: #3d1319;
}
.menu--chicfrançaise .entrée {
  color: #c67412;
  fill: #c67412;
}
.menu--chicfrançaise .plat {
  color: #a56799;
  fill: #a56799;
}
.menu--chicfrançaise .dessert {
  color: #6e4ccc;
  fill: #6e4ccc;
}
.menu--chicfrançaise .liste {
  padding-left: 10%;
  padding-right: 10%;
}
@media all and (max-width: 599px) {
  .menu--chicfrançaise .liste {
    padding: 5%;
  }
}
.menu--délicepapilles .entrée {
  fill: #0228dd;
}
.menu--délicepapilles .plat {
  fill: #0670f3;
}
.menu--délicepapilles .dessert {
  fill: #229df9;
}
.menu--délicepapilles .liste {
  padding-left: 10%;
  padding-right: 10%;
}
@media all and (max-width: 599px) {
  .menu--délicepapilles .liste {
    padding: 5%;
  }
}
.menu--palettegout .liste {
  padding-left: 10%;
  padding-right: 10%;
}
@media all and (max-width: 599px) {
  .menu--palettegout .liste {
    padding: 5%;
  }
}
.menu--palettegout .separateur-left {
  fill: url(#Gradient-left);
}
.menu--palettegout .separateur-right {
  fill: url(#Gradient-right);
}

.icon {
  text-align: center;
}
.icon i {
  font-size: 6rem;
}

.pied p {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
}
.pied p .bottom {
  margin-right: 7px;
}

/*# sourceMappingURL=style2.css.map */
