/*couleur des bloc menu sur page d'acceuill*/
@mixin blocs_color {
    @each $bloc, $color in $blocs_colors {
        &--#{$bloc}{
            background-color: $color;
            
        }    
}
}
/* police des blocs menu sur page accueil*/
@mixin blocs_font{
    @each $bloc, $font in $blocs_font {
        &--#{$bloc}{
            font-family: $font;
        }
    }
}
/*gradient de couleur sur les noms de rstaurant*/
@mixin gradient_titre {
    @each $bloc, $gradient in $map_gradient {
        &--#{$bloc} h3 {
            position: relative;
            background: linear-gradient(90deg, nth($gradient, 1), nth($gradient, 2));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;
        } 
    }
}
/* couleur du mot menu dans les blocs menu sur page d'accueil*/
@mixin color_h2 {
    @each $bloc, $color in $map_color_h2 {
        &--#{$bloc} h2 {
            color: $color;
        }
    }
}
/*réalisation de l'effet underline avec couleur dans les menus*/
@mixin underline_menu {
    @each $menu, $map_color in $map_menu_colors {
        &--#{$menu} {
            @each $plat, $color in $map_color {
                & .#{$plat} {
                    h4 {
                        width: 35%;
                        font-size: 1.5rem;
                        text-align: center;
                        @include tablette {
                            font-size: 1rem;
                        }
                        & span {
                            position: relative;
                            &:before {
                                content: "";
                                position: absolute;
                                width: 0;
                                height: 2px;            
                                bottom: 0;
                                left: 0;
                                visibility: hidden;
                                transition: all 0.4s ease-in-out;
                                background: $color;                       
                                }
                                 &:hover:before  {
                                visibility: visible;
                                width: 100%;
                                }
                    }          
                    }
                }
            }
        }
    }
}
/*typo spécifique aux menu 2 à 4 */
@mixin menu_typo_alt {
    padding-left: 10%;
    padding-right: 10%;
    @include mobile {
        padding: 5%;
    }
}
/*mixins responsive */
@mixin tablette {
    @media all and (max-width: map-get($breakpoints, tablette )){
        @content;
    }
}
@mixin mobile {
    @media all and (max-width: map-get($breakpoints, mobile )){
        @content;
    }
}
@mixin cellphone {
    @media all and (max-width: map-get($breakpoints, cellphone )){
        @content;
    }
}
