$color_header: #fdcb46;
$background_header: #579c87;
$blocs_colors: (noteenchantée: #fcdfdb, chicfrançaise: #fff5fe, délicepapilles: #f9f9f9, palettegout: #fdfffd);
$blocs_font: (noteenchantée: devonshire, chicfrançaise: gabriela, délicepapilles: great-vibes, palettegout: meriendaone);
$gradient_chicfrançaise: #e38a12, #915dfe;
$chic_color1: #c67412;
$chic_color2: #a56799;
$chic_color3: #6e4ccc;
$gradient_délicepapilles: #314de1, #349cfb;
$délice_color1: #0228dd;
$délice_color2: #0670f3;
$délice_color3: #229df9;
$gradient_palettegout: #3e923a, #bfff80;
$palette_separation-grad: #41963c, #bcfd7e;
$map_gradient: ( chicfrançaise:$gradient_chicfrançaise, délicepapilles:$gradient_délicepapilles, palettegout:$gradient_palettegout);
$breakpoints: ( tablette: 767px, mobile: 599px, cellphone: 399px);
