h2
{
    font-size: 2rem;
    text-align: center;
}
.top
{
    width: 100%;
    font-size: 4rem;
    text-align: center;
}
.menu
{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 5%;
    box-shadow: 5px 5px 10px grey;
    h4 {
        width: 35%;
        font-size: 1.5rem;
        
        text-align: center;
        & span {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;            
                bottom: 0;
                left: 0;
                visibility: hidden;
                transition: all 0.4s ease-in-out;
                background: black;                       
                }
                 &:hover:before  {
                visibility: visible;
                width: 100%;
        }
    }          
    }
    i {
        
        width: fit-content ;
        font-size: 4rem;
        background: linear-gradient(to right, #f05461, #f6916a);
        background-clip: text;
        color: transparent;
       
    }
    .titre
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: x-large;
        @include mobile {
            flex-direction: column-reverse;
            
        }
        
        .separateur1
        {
            fill: #3d1319;
            /*width: 35%;*/           
        }  
        .separateur2
        {
           /* width: 30%;*/
        }
        .separateur-left {
            width: 30%;
            @include mobile {
                width: 50%;
            }
        }
        .separateur-right {
            width: 30%;
            @include mobile {
                width: 75%;
            }
        }
    }

    
    ul
    {
        list-style: none;
        padding: 0;
        li
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
    h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 3rem;
    }
    @include blocs_color;
    @include gradient_titre;
    @include blocs_font;
    &--chicfrançaise {
        .entrée {
            color: $chic_color1;
            fill: $chic_color1;
        }
        .plat {
            color: $chic_color2;
            fill: $chic_color2;
            
        }
        .dessert {
            color: $chic_color3;
            fill: $chic_color3;
        }
        .liste {
            @include menu_typo_alt;
        }
    }
    &--délicepapilles {
        .entrée {
            fill: $délice_color1;
        }
        .plat {
            fill: $délice_color2;
        }
        .dessert {
            fill: $délice_color3;
        }
        .liste {
            @include menu_typo_alt;
        }
    }
    &--palettegout {
        .liste {
            @include menu_typo_alt;
        }
        .separateur-left {
            fill: url(#Gradient-left);
        }
        .separateur-right {
            fill: url(#Gradient-right);
        }
    }
 
}
.icon {
    text-align: center;
    i {
    font-size: 6rem;
    }
}

.pied p
{
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    .bottom {
        margin-right: 7px;
    }
}
