h2
{
    font-size: 2rem;
    text-align: center;
}
.top
{
    width: 100%;
    font-size: 4rem;
    text-align: center;
}
.menu
{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 5%;
    box-shadow: 5px 5px 10px grey;
    @include underline_menu;
    i {
        
        width: fit-content ;
        font-size: 4rem;
        background: linear-gradient(to right, nth($gradient_noteenchantée, 1 ), nth( $gradient_noteenchantée, 2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
       
    }
    .titre
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: x-large;
        @include mobile {
            flex-direction: column-reverse;
            
        }
        .separateur-left {
            width: 30%;
            @include mobile {
                width: 50%;
            }
        }
        .separateur-right {
            width: 30%;
            @include mobile {
                width: 75%;
            }
        }
    }  
    ul
    {
        list-style: none;
        padding: 0;
        li
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
    h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 4rem;
    }
    @include blocs_color;
    @include gradient_titre;
    @include blocs_font;
    &--noteenchantée {
        color: $note_color;
        fill: $note_color;
    } 
    &--chicfrançaise {
        .entrée {
            color: $chic_color1;
            fill: $chic_color1;
        }
        .plat {
            color: $chic_color2;
            fill: $chic_color2;
            
        }
        .dessert {
            color: $chic_color3;
            fill: $chic_color3;
        }
        .liste {
            @include menu_typo_alt;
        }
    }
    &--délicepapilles {
        .entrée {
            fill: $délice_color1;
        }
        .plat {
            fill: $délice_color2;
        }
        .dessert {
            fill: $délice_color3;
        }
        .liste {
            @include menu_typo_alt;
        }
    }
    &--palettegout {
        .liste {
            @include menu_typo_alt;
        }
        .separateur-left {
            fill: url(#Gradient-left);
        }
        .separateur-right {
            fill: url(#Gradient-right);
        }
    }
 
}
.icon {
    text-align: center;
    i {
    font-size: 6rem;
    }
}

.pied p
{
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    .bottom {
        margin-right: 7px;
    }
}
