main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2
{
    font-size: 2rem;
    text-align: center;
}
.menu
{
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding: 5%;
    box-shadow: 5px 5px 10px grey;
    @include underline_menu;
    //icone note général
    i {
        
        width: fit-content ;
        @include gradient_icone;
       
    }
    //sous ensemnble menu général
    .titre
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: x-large;
        @include mobile {
            flex-direction: column-reverse;      
        }
        .separateur-left {
            width: 30%;
            @include mobile {
                width: 50%;
            }
        }
        .separateur-right {
            width: 30%;
            @include mobile {
                width: 75%;
            }
        }       
    }
    //liste des plat général 
    ul
    {
        list-style: none;
        padding: 0;
        li
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
    h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 4rem;
        @include medium {
            font-size: 3rem;
        }
        @include tablette {
            font-size: 2rem;
        }
    }
    @include blocs_color;
    @include gradient_titre;
    @include blocs_font;
    //style et couleurs spécifique à chaque menu
    &--noteenchantée {
        color: $note_color;
        fill: $note_color;
    } 
    &--chicfrançaise {
        .entrée {
            color: $chic_color1;
            fill: $chic_color1;
        }
        .plat {
            color: $chic_color2;
            fill: $chic_color2;
            
        }
        .dessert {
            color: $chic_color3;
            fill: $chic_color3;
        }
        .liste {
            @include menu_typo_alt;
        }
    }
    &--délicepapilles {
        .entrée {
            fill: $délice_color1;
        }
        .plat {
            fill: $délice_color2;
        }
        .dessert {
            fill: $délice_color3;
        }
        .liste {
            @include menu_typo_alt;
        }
    }
    &--palettegout {
        .liste {
            @include menu_typo_alt;
        }
        .separateur-left {
            fill: url(#Gradient-left);
        }
        .separateur-right {
            fill: url(#Gradient-right);
        }
    }
    
 
}
//icone note en haut du menu 1
.icon {
    text-align: center;
    i {
    font-size: 6rem;
    }
}
//bas du menu 1
.pied p
{
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    .bottom {
        margin-right: 7px;
    }
}
