aside {
    display: flex;
    justify-content: center;
    mark {
        width: auto;
        border: solid 1px $background_header;
        border-radius: 10px;
        color: $color_header;
        background-color: $background_header;
        padding: 20px;
        margin: 10px;
        font-size: 2rem;
        text-align: center;
        
    }
}