footer {
    display: flex;
    background: $background_header;
    color: $color_header;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 0 2% 0 2%;
    a {
        color: $color_header;
        text-decoration: none;
        &:hover {
            animation: wiggle 0.5s infinite;
        }
    }
    @include mobile {
        height: auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
    }
}
