header {
    width: 100%;
    a {
        text-decoration: none;
    }
    h1 
    {
        color: $color_header;
        background: $background_header;
        text-align: center;
        height: 10rem;
        line-height: 10rem;
        font-size: 6rem;
        margin-top: 0;
        letter-spacing: -2px;
        @include mobile {
            font-size: 4rem;
        }
    }
}